h1, h3, h5 {
    font-family: 'Amatic SC', cursive;
}

h2, h4, h6, th {
    font-family: 'Oswald', sans-serif;
}

p, span, button, td {
    font-family: 'Roboto', sans-serif;
}

.clear-border {
    border: none;
}